# ===========================================
# YEZ BEE FASHION - Environment Template
# ===========================================

MONGODB_URI=mongodb+srv://sbfashionamazon:dharu1234@yez-bee.pnmkrhi.mongodb.net/yezbee?retryWrites=true&w=majority

CLOUDINARY_CLOUD_NAME=smpyi8aw
CLOUDINARY_API_KEY=653597949992938
CLOUDINARY_API_SECRET=FvNmzPMA8deuTLwVw74Rp2syH5o
