# ===========================================
# YEZ BEE FASHION - Environment Template
# ===========================================

MONGODB_URI=mongodb+srv://sbfashionamazon:dharu1234@yez-bee.pnmkrhi.mongodb.net/yezbee?retryWrites=true&w=majority

CLOUDINARY_CLOUD_NAME=smpyi8aw
CLOUDINARY_API_KEY=653597949992938
CLOUDINARY_API_SECRET=FvNmzPMA8deuTLwVw74Rp2syH5o
CLOUDINARY_URL=cloudinary://653597949992938:FvNmzPMA8deuTLwVw74Rp2syH5o@smpyi8aw

ADMIN_SESSION_SECRET=
JWT_SECRET=
JWT_REFRESH_SECRET=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
